.content {
  padding: 15px;
  border: 1px solid hsl(210deg 7% 90%);
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: hsl(28deg 89% 96%);
}

.title {
  margin-bottom: 15px;
}

.condition {
  display: flex;
  flex-direction: row;
}

.conditionChecked {
  color: hsl(151deg 63% 40%);
  font-weight: 500;
}

.conditionUnchecked {
  color: hsl(360deg 100% 70%);
  font-weight: 500;
}

.icon {
  height: 17px;
  width: 17px;
  margin-right: 10px;
  margin-bottom: 10px;
}
