.content {
  margin-top: 40px;
  background-color: hsl(200, 13%, 9%);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(210deg 7% 90%);
  margin-bottom: 15px;
}

.howToPlayView {
  display: flex;
  align-items: flex-end;
}

.howToPlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: hsl(0, 0%, 100%);
  box-shadow: hsl(210deg 7% 40%) 0 2px 4px;
  border-radius: 50px;
  padding: 10px 15px;
}

.howToPlayText {
  margin-left: 5px;
  text-align: center;
  font-size: 12px;
  color: hsl(210deg 7% 30%);
}

.howToPlayPressed {
  background-color: hsl(210deg 7% 20%);
}

.title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 15px;
}

.joinRoomCode {
  text-align: center;
  margin-bottom: 10px;
}

.image {
  align-self: center;
  margin-bottom: -20px;
}
