.missions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.image {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  padding: 10px;
  border: 1px solid hsl(210deg 7% 90%);
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: hsl(231deg 15% 50%);
  box-shadow: hsl(210deg 7% 40%) 0 2px 4px;
  font-size: 18px;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  color: hsl(0, 0%, 100%);
  margin: 0 10px;
  font-size: 16px;
}

.deleteMission {
  background-color: hsl(360deg 100% 70%);
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
