import { StyleSheet } from 'react-native';

export default StyleSheet.create({
  content: {
    display: 'flex',
    flex: 1,
  },
  label: {
    fontWeight: '600',
  },
  input: {
    paddingVertical: 10,
    paddingHorizontal: 0,
    marginBottom: 15,
    borderBottomWidth: 2,
    fontWeight: '500',
    fontSize: 16,
  },
});
