.dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small);
  border: 2px solid var(--color-white-30);
  border-radius: var(--radius-small);
  margin-top: var(--spacing-small);
  background-color: var(--color-body-secondary);
  color: var(--color-text);
  font-size: var(--text-large);
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--color-white-20);
    background-color: var(--color-white-90);
    color: var(--color-text);
  }
}

.list {
  border-radius: var(--radius-small);
  margin-top: var(--spacing-small);
  background-color: var(--color-body-secondary);
  box-shadow: var(--shadow-small);
}

.item {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small);
  color: var(--color-text);
  font-size: var(--text-large);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-white-90);
    color: var(--color-text);
  }
}
