.gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem;
  gap: 1rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (width >= 720px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.content {
  position: relative;
  flex-shrink: 0;
}

.selected svg {
  box-shadow: var(--color-green-40) 0 0 0 5px;
}

.avatar svg {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: drop-shadow(var(--shadow-small));

  &:hover {
    cursor: pointer;
  }
}

.checked {
  position: absolute;
  top: 70%;
  right: 0;
  height: 30px;
}
