.view {
  padding: 20px;
  background-color: hsl(200, 13%, 9%);
  display: flex;
  flex: 1;
}

.modeTitle {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.modeDescription {
  margin-bottom: 20px;
  text-align: center;
}

.content {
  margin-top: 40px;
  flex: 1;
}

.lottie {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
