.content {
  display: flex;
  justify-content: space-between;
}

.avatar {
  align-items: center;
  border-width: 2px;
  border-color: hsl(210deg 7% 80%);
  box-shadow: hsl(210deg 7% 40%) 0 2px 4px;
  padding: 30px;
  background-color: bisque;
  margin-bottom: 15px;
}
