.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid hsl(210deg 7% 90%);
  margin-bottom: 10px;
  background-color: hsl(28deg 89% 96%);
  text-align: center;
}

.icon {
  height: 25px;
  width: 25px;
  opacity: 0.2;
}

.playerReady {
  opacity: 1;
}
