.rankingTextContent {
  margin-bottom: 20px;
}

.rankingDescription {
  font-size: 16px;
  text-align: center;
}

.rankingPlayerContent {
  margin-bottom: 10px;
}

.rankingPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid hsl(210deg 7% 90%);
  margin-bottom: 10px;
  background-color: hsl(28deg 89% 96%);
}

.rankingIcon {
  height: 50px;
  width: 50px;
}
