.header {
  display: flex;
  margin: 10px 10px 0 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 0 20px;
}

.closeIcon {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.closeIconPressed {
  background-color: hsl(210deg 7% 80%);
}

.howToPlay {
  font-size: 16px;
  color: hsl(231deg 15% 50%);
  margin-bottom: 10px;
}

.step {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(210deg 7% 90%);
  flex-direction: column;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.text {
  font-size: 16px;
  color: hsl(210deg 7% 40%);
}
