.content {
  max-width: 800px;
  padding: 50px 20px;
  margin: 0 auto;
  color: var(--color-white);
  line-height: 1.6;

  & h1 {
    margin-bottom: var(--spacing-xxlarge);
    color: var(--color-white);
    font-size: 2.5rem;
  }

  & h2 {
    margin: var(--spacing-xxlarge) 0 var(--spacing-large);
    color: var(--color-white);
    font-size: 1.8rem;
  }

  & p {
    margin-bottom: var(--spacing-large);
    font-size: 1.1rem;
  }

  & strong {
    color: var(--color-white);
  }
}

.list {
  padding-left: var(--spacing-large);
  margin-bottom: var(--spacing-large);
  list-style: disc;

  & li {
    margin-bottom: var(--spacing-small);
    color: var(--color-white);
    font-size: 1.1rem;
  }
}
