.mission {
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(210deg 7% 90%);
  margin-bottom: 20px;
  background-color: hsl(28deg 89% 96%);
}

.targetMission {
  font-size: 20px;
  font-weight: 500;
}
